@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "";
    --dark: 0 0% 12.5%;
    --light: 0 0% 97.3%;

    --background: 0 0% 97.3%;
    --foreground: 0 0% 12.5%;

    --muted: 0 0% 90%;
    --muted-foreground: 215.4 16.3% 40%;

    --popover: 0 0% 97.3%;
    --popover-foreground: 210 100% 56.7%;

    --card: 0 0% 97.3%;
    --card-foreground: 210 100% 56.7%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 210 100% 56.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 210 100% 56.7%;

    --accent: 0 0% 90%;
    --accent-foreground: 210 100% 56.7%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 97.3%;
    --card-foreground: 210 100% 56.7%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 210 100% 56.7%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.gradient-text {
  background-image: linear-gradient(
    83deg,
    #0088ff -6.8%,
    #a033ff 26%,
    #ff5c87 58%
  ) !important;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  height: inherit;
  width: inherit;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animation-gradient {
  animation: gradient 5s ease-in-out infinite;
}


.bubble-all {
  background-color: hsl(var(--muted));
  border-radius: 1.5rem;
}
.bubble-all-self {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  border-radius: 1.5rem;
}

.bubble-top-self {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  border-radius: 1.5rem;
  border-bottom-right-radius: calc(var(--radius) - 4px);
}
.bubble-mid-self {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  border-radius: 1.5rem;
  border-top-right-radius: calc(var(--radius) - 4px);
  border-bottom-right-radius: calc(var(--radius) - 4px);
}
.bubble-bot-self {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  border-radius: 1.5rem;
  border-top-right-radius: calc(var(--radius) - 4px);
}

.bubble-top {
  background-color: hsl(var(--muted));
  border-radius: 1.5rem;
  border-bottom-left-radius: calc(var(--radius) - 4px);
}
.bubble-mid {
  background-color: hsl(var(--muted));
  border-radius: 1.5rem;
  border-top-left-radius: calc(var(--radius) - 4px);
  border-bottom-left-radius: calc(var(--radius) - 4px);
}
.bubble-bot {
  background-color: hsl(var(--muted));
  border-radius: 1.5rem;
  border-top-left-radius: calc(var(--radius) - 4px);
}
